services:
  redis:
    image: redis:7-alpine
    container_name: entgo_redis_shared
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - entgo_network

volumes:
  redis_data:

networks:
  entgo_network:
    external: true

